*
!.gitignore
!AGENTS.md
!.config

!.config/yadm
!.config/yadm/**/*

!.config/cosmic
!.config/cosmic/**/*
.config/cosmic/com.system76.CosmicSettings/v1/active-page
.config/cosmic/com.system76.CosmicTerm/v1/font_name
.config/cosmic/com.system76.CosmicAppList/v1/favorites
.config/cosmic/com.system76.CosmicIdle/v1/screen_off_time

!.config/systemd

!Documents
!Documents/*
